/.idea/NLP.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.DS_Store
Generative_AI_with_LLM/.DS_Store
Generative_AI_with_LLM/Week2/.DS_Store
.DS_Store
*.gz
PyTorch/data/MNIST/raw/t10k-images-idx3-ubyte
PyTorch/data/MNIST/raw/t10k-labels-idx1-ubyte
PyTorch/data/MNIST/raw/train-images-idx3-ubyte
PyTorch/data/MNIST/raw/train-labels-idx1-ubyte
.env
.conda
.idea
.gitignore
.DS_Store