/.idea/NLP.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.DS_Store
Generative_AI_with_LLM/.DS_Store
Generative_AI_with_LLM/Week2/.DS_Store
